<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us - Universal Growth Groups</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/main.css">

    <style>
        body {
            text-align: center !important;
        }

        p {
            margin-top: 20px;
            font-size: 20px;
            text-align: justify;
        }

        .container {
            text-align: left;
        }

        .mssg {
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 5px;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <!-- You can replace the following with your own logo/image -->
                    <img alt="Logo" src="/img/logo.png" height="30">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/about">About</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/">Registration</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div>
            <h1>About Universal Growth Groups</h1>
        </div>
        <div>
            <p>Universal Growth Groups Pvt. Ltd. is a dynamic organization operating in diverse fields and providing unique investment opportunities to individuals.</p>
            <p>Our guiding principles for growth groups:</p>
            <ol>
                <li>Each growth group must consist of at least 10 members.</li>
                <li>Individuals must be affiliated with a growth group; otherwise, no responsibilities will be assigned.</li>
                <li>Growth groups are required to deposit a specified amount on a designated date.</li>
                <li>Withdrawn amounts must be deposited on time to ensure the smooth functioning of the groups.</li>
                <li>All growth group members are mandated to have a passbook and a generated ID number.</li>
                <li>For any complaints or issues, members can contact their respective group leaders or visit our official website.</li>
                <li>Regular updates for all growth groups will be posted on our website.</li>
            </ol>
        </div>
        <div>
            <p>If you have any suggestions or complaints, please contact your nearest branch or use our online complaint form on our website.</p>
            <p>Learn more about us: <a href="https://sites.google.com/view/universalgrowthgroups" target="_blank">Universal Growth Groups Website</a></p>
        </div>
        <div>
            <h2>Why Choose Universal Growth Groups?</h2>
            <p>Universal Growth Groups Pvt. Ltd. stands out in the market for the following reasons:</p>
            <ul>
                <li>Experience: With years of experience, we have a proven track record of success.</li>
                <li>Expertise: Our team comprises industry experts dedicated to ensuring your financial growth.</li>
                <li>Transparency: We believe in transparent transactions and clear communication with our members.</li>
                <li>Opportunities: We provide diverse investment opportunities to suit individual preferences and goals.</li>
                <li>Customer Support: Our customer support team is ready to assist you with any queries or concerns.</li>
            </ul>
        </div>
    </div>

</body>
</html>
